
<!-- Menu -->
<div class="MFnavbar">

  <a href="/"><i class="fa fa-home"></i></a>

<!--  <a href="#news">Bitcoin</a> -->

  <div class="MFdropdown">
    <button class="MFdropbtn">Purchase
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="MFdropdown-content">
      <a href="https://bitcoin.org/bitcoin.pdf" target="_blank">Suppliers</a>
      <a href="http://cryptocurrencyfacts.com/" target="_blank">Quotes</a>
      <a href="https://www.edureka.co/blog/what-is-blockchain/" target="_blank">Purchase</a>
      <a href="http://passwordsgenerator.net/sha256-hash-generator/" target="_blank">Shopping History</a>
      <a href="https://www.ico-list.com/" target="_blank">Pending Payment</a>
      <a href="https://www.bitcoinmining.com/" target="_blank">Websites</a>
    </div>
  </div>
  <div class="MFdropdown">
    <button class="MFdropbtn">Inventory
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="MFdropdown-content">
      <a href="" target="_blank">Warehouse</a>
  	  <a href="/brands">Brands</a>
  	  <a href="" target="_blank">Category</a>
  	  <a href="" target="_blank">Inventory</a>
  	  <a href="" target="_blank">Locations</a>
  	  <a href="/products">Products</a>
  	  <a href="" target="_blank">Variants</a>
  	  <a href="" target="_blank">Convert</a>
  	  <a href="" target="_blank">Stock</a>
  	  <a href="" target="_blank">Kardex</a>
  	  <a href="" target="_blank">Receiving</a>
  	  <a href="" target="_blank">Returns</a>
    </div>
  </div>
  <div class="MFdropdown">
    <button class="MFdropbtn">Point of Sale
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="MFdropdown-content">
      <a href="/customers">Customers</a>
	    <a href="" target="_blank">Price List</a>
	    <a href="" target="_blank">Proposals</a>
	    <a href="" target="_blank">Orders</a>
	    <a href="" target="_blank">Pre close</a>
	    <a href="" target="_blank">Close</a>
	    <a href="" target="_blank">Historial</a>
	    <a href="" target="_blank">Statements</a>
	    <a href="" target="_blank">Politics</a>
	    <a href="" target="_blank">Comission</a>
    </div>
  </div>
  <div class="MFdropdown">
    <button class="MFdropbtn">Marketing
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="MFdropdown-content">
      <a href="" target="_blank">Statements</a>
      <a href="" target="_blank">Letters</a>
      <a href="" target="_blank">Comunications</a>
  	  <a href="" target="_blank">Cards for Holidays</a>
  	  <a href="" target="_blank">Programming</a>
  	  <a href="" target="_blank">Campaign</a>
  	  <a href="" target="_blank">Tracking</a>
    </div>
  </div>
  <div class="MFdropdown">
    <button class="MFdropbtn">Support
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="MFdropdown-content">
      <a href="" target="_blank">Settings</a>
  	  <a href="" target="_blank">Users</a>
  	  <a href="" target="_blank">Activities</a>
  	  <a href="" target="_blank">Logs</a>
  	  <a href="" target="_blank">Input</a>
  	  <a href="" target="_blank">Excel</a>
  	  <a href="" target="_blank">Transfer</a>
    </div>
  </div>
 <div class="MFdropdown">
    <button class="MFdropbtn">Accouting
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="MFdropdown-content">
      <a href="" target="_blank">Cashier</a>
  	  <a href="" target="_blank">Payment Process</a>
  	  <a href="" target="_blank">Pre Close</a>
  	  <a href="" target="_blank">Close</a>
  	  <a href="" target="_blank">Accounts</a>
  	  <a href="" target="_blank">Plan Cuentas</a>
  	  <a href="" target="_blank">Vouchers</a>
  	  <a href="" target="_blank">Reports</a>
  	  <a href="" target="_blank">Balances</a>
    </div>
  </div>
<!-- Icons-->
  <div class="MFicon-bar">
     <a class="MFactive-bar" href="https://coinmarketcap.com/all/views/all/" alt="CoinCap" target="_blank"><i class="fa fa-bitcoin"></i></a>
     <a href="https://www.google.com/?gws_rd=ssl"><i class="fa fa-search"></i></a>
     <a href="https://mail.google.com/mail/ca/u/0/"><i class="fa fa-envelope"></i></a>
     <a><i class="fa fa-globe" onclick="MFopenNav()"></i></a>
   </div>

<!-- Menu Push-->

   <div id="mySidenav" class="MFsidenav">
     <a href="javascript:void(0)" class="MFclosebtn" onclick="MFcloseNav()">&times;</a>
     <a href="#">About</a>
     <a href="#">Market</a>
     <a href="#">Clients</a>
     <a href="#">Contact</a>
   </div>


   <script>
   function MFopenNav() {
       document.getElementById("mySidenav").style.width = "150px";
       document.getElementById("main").style.marginLeft = "150px";
   }

   function MFcloseNav() {
       document.getElementById("mySidenav").style.width = "0";
       document.getElementById("main").style.marginLeft= "0";
   }
   </script>

</div>
