{% extends 'MFlayout.html' %}

{% block body %}
  <!--
  <div class="jumbotron text-center">
    <h1>Welcome to MicroFox USA</h1>
  </div>
-->

  <!-- Background-->

  <div class="MFbgimg-1">
    <div class="MFcaption">
      <span class="MFborder">The Last Technology Stack for Web Applications</span>
    </div>
    <div class="MFtext-block">
      <h4>MicroFox</h4>
      <p>Developement Systems</p>
    </div>
  </div>


  <div class="MFbg"></div>
  <p style="color:green"; >Copyright 2019o. Designed by MicroFox USA Inc</p>

{% endblock %}
